@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --bg-color: rgb(15,15,15);
    --second-bg-color: #161616;
    --text-color: white;
    --main-color: #1d8976;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    position:sticky;
    background-color:#1f443d;
    z-index: 10;
}
.logo{
    width: 130px;
    height: 80px;
    overflow: hidden;
    margin-left: 30px;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav .links{
    
    margin-right: 30px;
}
nav .links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 16px;
    position: relative;
    text-transform: capitalize;
}
nav .links a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}
nav .links a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.slider{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 90vh;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    z-index: 5;
}
.manual-btn{
    border : 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:#40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.content{
    width: 600px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #1f443d88;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    
}

.content h1{
    color: white;
    font-size: 60px;
    padding: 20px;
}

.content p{
    color: white;
    font-size: 20px;
    padding: 25px;
    text-align: justify;
}

.sec{
    padding-bottom: 50px;
}


.about{
    width: 100%;    
    background-color: #1f443d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 h1.title{
    color: white;
    font-size: 70px;
    margin: 12px auto;
}

.about h2{
    color: white;
}

.about p{
    color: white;
    font-size: 20px;
    flex: 1 1 50%;
    padding: 50px;
}
.about .about-content{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    flex-wrap: wrap;
}

.about-content .right{
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}

.about-content .image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.about-content .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.statement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.statement h1{
    color: #161616;
}

.statement  p{
    font-size: 15px;
    padding: 30px;
    text-align: justify;
}

.statement .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.statement-content h2{
    text-align: center;
    margin: 10px;
}
.statement-content{
    flex: 1 1 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.solution{
    width: 100%;
    background-color: #66451a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solution p{
    color:wheat;
    font-size: 20px;
    padding: 30px;
    text-align: justify;
    width: 80%;
}
.solution h2{
    color:wheat;
    font-size: 20px;
    padding: 30px;
    text-align: justify;
}
.solutions{
    width: 100%;
    background-color: #76497f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.solutions .join{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin: 20px;
    border-radius: 20px;
}

.join p{
    margin: auto;
}

.get{
    width: 100%;
    height: 100vh;
    background-color: rgb(57, 47, 124);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.get .get-content{
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    border : 1px solid white;
    margin: 20px;
    width: 80%;
}

.get p{
    color:white;
    font-size: 20px;
    padding: 30px;
    text-align: justify;

}
.contacts{
    width: 100%;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts p{
    color:white;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}
.contacts h2{
    color:white;
    font-size: 20px;
    padding: 10px;
}
.footer{
    width: 100%;
    padding: 40px 0;
    background: var(--second-bg-color);
    background: black;
}
.contacts .social{
    text-align: center;
    /* padding-bottom: 25px; */
    color: white;
}
.contacts .social a{
    font-size: 25px;
    color: var(--main-color);
    width:42px;
    height: 42px;
    border:2px solid var(--main-color);
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.contacts .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.footer .links{
    margin-top: 50px;
    text-align: center;
}

.footer a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}
.footer a:hover{
    color: var(--main-color);
}


/* scroll styles  */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.sideBar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.sideBar .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sideBar .links a{
    color: white;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
}

.sideBar .links a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.sideBar .links a:hover::after{
    width: 100%;
}

.sideBar span{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.snav{
    display: none;
    justify-content: space-between;
    align-items: center;
    top:0;
    position:sticky;
    background-color:#1f443d;
    z-index: 10;
}

.snav i{
    font-size: 30px;
    color: white;
    cursor: pointer;
    flex: 1;
}

@media screen and (max-width: 1200px){
    .snav{
        display: flex;
    }
    .navbar{
        display: none;
    }

    .content{
        width: 100%;
    }
}

